@font-face {
    font-family: 'zilla slab';
    src: url('../fonts/Zilla_Slab/ZillaSlab-Regular.otf');
}

@font-face {
    font-family: 'zilla slab italic';
    src: url('../fonts/Zilla_Slab/ZillaSlab-RegularItalic.otf');
}

@font-face {
    font-family: 'zilla slab light italic';
    src: url('../fonts/Zilla_Slab/ZillaSlab-LightItalic.otf');
}

@font-face {
    font-family: 'zilla slab highlight bold';
    src: url('../fonts/Zilla_Slab/ZillaSlabHighlight-Bold.otf');
}

/* mobile first! & basic styling... */

body {
    font-family: 'zilla slab' !important;
    max-width: 1100px !important;
    margin: auto !important;
}

a {
    text-decoration: none !important;
}

h1, h2, h3, h4, p {
    margin: 0 !important;
    padding: 0 !important;
}

h2 {
    font-weight: 300 !important;
    font-size: 1.5em !important;
}

h3 {
    font-family: 'zilla slab highlight bold' !important;
    margin-top: 30px !important;
    font-size: 1.25em !important;
}

h5 {
    margin-top: 1.05rem !important;    
}

article {
    padding: 1.5rem 2rem !important;
}

footer {
    display: none !important;
}

section#daniel-clavijo ul {
    padding-left: 5% !important;
}

.line-block {
    padding: 0 !important;
    font-size: .9em !important;
}

/* toogle primary sidebar */
.header-article-items__start{
    display: none !important;
}

.bd-article-container {
    max-width: 100% !important;
}

.center-text {
    text-align: center;
}

.no-style-list > ul {
    list-style: none;    
}

.sidebar > .title-section {
    padding: 20px 0 !important;
    margin: 0 0 15px 0 !important;
    border-bottom: 1px solid gray !important;
    font-weight: 600 !important;
}

.sidebar > .subtitle-section {
    font-family: 'zilla slab italic' !important;
}

.sidebar > ul {
    font-size: .8em !important;
}

.enterprise-description {
    font-family: 'zilla slab light italic';
    font-size: 1.25em !important;
}

#experiencia-de-trabajo .date-span {
    text-align: right;
    margin-top: calc(-1.05rem - 1.6em) !important;
}

#experiencia-de-trabajo > section > section {
    padding-left: 10px !important;
}

#experiencia-previa .date-span {
    text-align: right;
    margin-top: -1.65em !important;
}

/* 1st threshold */
@media (min-width: 769px) {
    
    body{
    }

    h1 {
        padding-top: 20px !important;
    }
  
    article {
        padding: 0px 3.5% 0 6.5% !important;
    }

    section#daniel-clavijo {
        width: 75% !important;
        padding: 0 2% 0 0 !important;
    }

    .sidebar {
        /*max-width: 250px ! important;*/
        width: 25% !important;
        height: 100% !important;
        margin: 0 !important;
        padding: 0 2% 2% !important; 
    }
    
}

/* printing options */
@media print {

    /*
    | print settings:
    |
    | - destination: save to PDF // (96px for PPI or DPI)
    | - paper size: A4
    | - scale: fit to page width
    | - margins: none
    | - browser: firefox
    | 
    | use the class no-print to select which sections will
    | not be included in the printed result.
    |
    */
    h1 {
        display: block !important;
        font-size: 32px !important;
    }

    h2 {
        font-size: 24px !important;
    }

    h3 {
        font-size: 21px !important;
    }

    h4 {
        font-size: 18px !important;
    }

    h5 {
        font-size: 16px !important;
    }

    p {
        font-size: 14px !important;
    }

    article {
        padding: 24px !important; /*3.5%*/
    }

    section#daniel-clavijo {
        width: 70% !important;
        padding: 0 2% 0 0 !important;
    }

    /* title container */
    #jb-print-docs-body {
        display: none !important;
    }

    .bd-main .bd-content {
        margin-left: 0 !important;
    }

    .sidebar {
        width: 30% !important;
        height: calc(100vh - 48px) !important;
    }

    .digital-version {
      font-size: .8em !important;
      position: absolute;
      bottom: 24px !important;
    }

    .enterprise-description {
        font-size: 1em !important;
    }
}
